body {
    padding-top: 70px;
}

h1 {
    font-size: 2em;
    margin: 0.2em 0;
}

h2 {
    font-size: 1.5em;
    padding-top: 3em;
    margin-top: -3em;
}

h3 {
    font-size: 1em;
    padding-top: 3.5em;
    margin-top: -3.5em;
}

#toc .toc-h3 {
    padding-left: 3em;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.image-wrapper {
    text-align: center;
}

.image-caption {
    color: #808080;
    font-size: 0.7em;
    font-style: italic;
}

img {
    margin: 3px;
    padding: 3px;
    border: 2px solid #eeeeee;
    max-width: 100%;
}

.idxHdr {
    text-align: center;
    line-height: 1;
}

.navbar-brand div {
    height: 100%;
}

.navbar-brand img {
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: none;
}

@media (max-width: 767px) {
    .idxHdr {
        width: 100%;
    }
    .idxIcons {
        width: 7em;
        margin-left: auto;
        margin-right: auto;
    }
}

.publicationImg {
    border: none;
    max-height: 125px;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .publicationImg {
        margin-left: 0em;
        display: block;
    }
}

@media (min-width: 767px) {
    .publicationImg {
        float: right;
        margin-left: 1em;
    }
}

.cvdate {
    float: right;
    margin-left: .5em;
}
