:root {
    --navbar-text-color: #264653;
    --navbar-hover-text-color: #8d674b;
    --link-hover-color: #8d674b;
}

body {
    padding-top: 6em;
    /* background-color: #faf8f3; */
    background-color: #ffffff;
    font-family: BlinkMacSystemFont, "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;

    /* Fix Raleway number/ligature alignment */
    /* font-variant-numeric: lining-nums; */
    /* -moz-font-feature-settings: "lnum" 1, "liga" 0, "clig" 0; */
    /* -moz-font-feature-settings: "lnum=1", "liga=0", "clig=0"; */
    /* -ms-font-feature-settings: "lnum" 1, "liga" 0, "clig" 0; */
    /* -o-font-feature-settings: "lnum" 1, "liga" 0, "clig" 0; */
    /* -webkit-font-feature-settings: "lnum" 1, "liga" 0, "clig" 0; */
    /* font-feature-settings: "lnum" 1, "liga" 0, "clig" 0; */
    /* font-variant-ligatures: none; */
}

a {
    color: #2b6f82;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:visited {
    color: #2b6f82;
}

a:hover,
a:focus-visible {
    color: var(--link-hover-color);
    text-decoration: none;
}

a:focus:not(:hover) {
    color: #2b6f82;
    text-decoration: none;
}

/* Override Bootstrap heading font */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default {
    background-color: #ecf6fe;
    border-color: var(--navbar-text-color);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: var(--navbar-text-color);
}

.navbar-default .navbar-toggle {
    border-color: var(--navbar-text-color);
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #edebe5;
    border-color: var(--navbar-text-color);
}

.navbar-default .navbar-nav > li > a {
    color: var(--navbar-text-color);
    background-color: transparent;
    transition: color 0.2s ease-in-out;
    border: none !important;
    box-shadow: none !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus-visible,
.navbar-default .navbar-nav > li > a:active {
    color: var(--navbar-hover-text-color);
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent !important;
    color: var(--navbar-hover-text-color);
    border: none !important;
    box-shadow: none !important;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > a:active {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    outline: none;
}

.navbar-default .navbar-nav > li:hover,
.navbar-default .navbar-nav > li:focus,
.navbar-default .navbar-nav > li:active {
    background-color: transparent !important;
}

.navbar-default .navbar-collapse {
    border-color: var(--navbar-text-color);
}


h1 {
    font-size: 2em;
    margin: 0.2em 0;
}

h2 {
    font-size: 1.5em;
    padding-top: 3em;
    margin-top: -3em;
}

h3 {
    font-size: 1em;
    padding-top: 3.5em;
    margin-top: -3.5em;
}

#toc .toc-h3 {
    padding-left: 3em;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.image-wrapper {
    text-align: center;
}

.image-caption {
    color: #808080;
    font-size: 0.7em;
    font-style: italic;
}

img {
    margin: 3px;
    padding: 3px;
    border: none;
    max-width: 100%;
}

.idxHdr {
    text-align: center;
    line-height: 1;
}

.navbar-brand {
    padding-left: 0;
}

.navbar-brand a {
    color: var(--navbar-text-color);
    transition: color 0.2s ease-in-out;
}

.navbar-brand a:hover,
.navbar-brand a:focus-visible {
    color: var(--navbar-hover-text-color);
    text-decoration: none;
}

.navbar-brand img {
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: none;
}

.navbar-icons {
    font-size: 0.9em;
}

.navbar-icons a {
    color: var(--navbar-text-color);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.navbar-icons a:hover,
.navbar-icons a:focus-visible {
    color: var(--navbar-hover-text-color);
}

.navbar-default .navbar-nav > li > a:focus:not(:focus-visible),
.navbar-brand a:focus:not(:focus-visible),
.navbar-icons a:focus:not(:focus-visible) {
    color: var(--navbar-text-color);
}

.navbar-icons,
.navbar-icons a,
.navbar-icons i {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 767px) {
    .navbar-icons {
        display: flex;
        float: right;
        margin-right: -15px;
        align-items: center;
        height: 50px;
    }
    
    .navbar-icons a {
        display: inline-flex;
        align-items: center;
        position: relative;
        top: -3px;
    }
}

@media (min-width: 768px) {
    .navbar-icons {
        position: absolute;
        right: 15px;
        top: 15px;
    }
}

/* .navbar li { */
/*   font-family: "Georgia", "Times New Roman", Times, serif; */
/*   font-weight: bold; */
/* */

@media (max-width: 767px) {
    body {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .idxHdr {
        width: 100%;
    }
    .idxIcons {
        width: 7em;
        margin-left: auto;
        margin-right: auto;
    }
}

.publicationImg {
    border: none;
    max-height: 125px;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .publicationImg {
        margin-left: 0em;
        display: block;
    }
}

@media (min-width: 767px) {
    .publicationImg {
        float: right;
        margin-left: 1em;
    }
}

.cvdate {
    float: right;
    margin-left: .5em;
}

.pub-pill {
    display: inline-flex;
    align-items: center;
    padding: 0.16em 0.5em;
    border-radius: 9999px;
    background: rgba(17, 24, 39, 0.08);
    font-size: 0.72em;
    color: #566074;
    text-decoration: none;
    transition: background 0.15s ease;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    transform: translateY(-2px);
}

.pub-pill + .pub-pill {
    margin-left: 0.35em;
}

.pub-pill:hover {
    background: rgba(17, 24, 39, 0.14);
    color: #566074;
}

.pub-pill:focus,
.pub-pill:visited {
    color: #566074;
}

.pub-pill:focus:not(:hover) {
    color: #566074;
}

.abstract-box {
    margin-top: 0.6em;
    padding: 0.3em 0.7em;
    border-radius: 12px;
    border: 1px solid rgba(17, 24, 39, 0.12);
    background: rgba(17, 24, 39, 0.04);
    box-shadow: 0 2px 6px rgba(15, 23, 42, 0.06);
    font-size: 0.92em;
    color: #4b5563;
    line-height: 1.55;
    text-align: justify;
}

.abstract-box p:last-child {
    margin-bottom: 0;
}

.intro-text p {
    text-align: justify;
}

@media (min-width: 1024px) {
    .intro-text {
        padding-right: 320px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .intro-text {
        padding-right: 220px;
    }
}

@media (max-width: 767px) {
    .intro-text {
        margin-bottom: 2em;
    }
    
    .intro-text p {
        text-align: left;
    }
}

.index-profile-img {
    border-radius: 10px;
    width: 200px;
    height: auto;
    object-fit: cover;
    object-position: center 30%;
    border: 2px solid #b0ada6;
    padding: 0;
    margin: 0 auto 20px auto;
    display: block;
}
