body {
	padding-top: 70px;
}

h1 {
	font-size: 2em;
	margin: 0.2em 0;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

img {
  margin: 3px;
  padding: 3px;
  border: 2px solid #eeeeee;
  max-width: 100%;
}

.idxHdr {
    text-align: center;
    line-height: 1;
}

@media (max-width: 767px) {
    .idxHdr {
        width: 100%;
    }
}