/* default CSS */

body {
    margin: 10px;
    padding: 0px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body, a {
    color: #333;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4 {
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
}

h1, h2, h3, h1 a, h2 a, h3 a, a.read-more {
    color: #000;
}

img {
    border: none;
}

.thumbnails img, img.thumbnails {
    max-width: 100px;
    max-width: 100px;
    padding: 5px;
    float: left;
}

/* page margins */
.page_margins {
    text-align: left;
    margin: 0 auto;
    min-width: 700px;
    max-width: 1000px;
}

#header {
    margin: 20px 0px;
    list-style-type: none;
}

#header h1, #header h3 {
    margin: 0px;
}

#header h3 {
    font-size: 110%;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333;
}

#header h1 a  {
    text-decoration: none;
}

#header h1 a:hover {
    text-decoration: underline;
}

#header form {
    margin-top: 15px;
    float: right;
    width: 25%;
}

#header ul {
    margin-top: 1px;
    border-left: 5px solid #686;
    border-right: 5px solid #686;
    border-top: 10px solid #686;
    padding: 5px;
    background-color: #686;
}

#header ul
#header ul li,
#header ul li a
{
    background-color: #686;
    padding: 5px;
}

#header ul li {
    display: inline;
}

#header ul li a {
    color: #fff;
    text-decoration: none;
}

#header ul li a:hover,
#header li a
{
    color: #000;
    background-color: #fff;
    text-decoration: none;
}

#header ul li#current a {
    color: #000;
    background-color: #fff;
    text-decoration: none;
}

/* col1: main column */
#col1 {
    float: left;
    width: 70%;
}

/* col3: side bar */
#col3 {
    font-size: 0.9em;
    float:  right;
    width:  25%;
}

#col3_content {
  padding-left: 10px;
  padding-right: 20px;
  /* add border */
  border-left: 1px solid #ddd;
  /* padding: 10px 0; */
}

.post, .excerpt {
    line-height: 20px;
}

.paging {
    margin: 20px 0px;
}

.paging .newer {
    float: right;
    width: 25%;
}

.paging .older {
    float: left;
    width: 25%;
}


.clear {
    clear: both;
    height: 0px;
    line-height: 0px;
}

/* vertical lists: */
/* title */

h3.vlist, h6.vlist {
  font-weight: bold;
  font-size: 100%;
  margin:0;
  color: #444;
  background-color: #fff;
  border-top: 2px solid #ddd;
  border-bottom: 4px #888 solid;
}

h3.vlist {
  width: 20%;
  padding: 3px 0px 3px 3px; /* LTR */
}

h6.vlist {
  width: 90%;
  padding: 3px 0px 3px 10%; /* LTR */
}

.vlist {
    margin: 0px;
    list-style-type: none;
    padding-left: 6px;
}

.vlist ul {
    margin: 0px;
    list-style-type: none;
    padding-left: 6px;
}

.vlist li {
    padding: 4px 0 4px 28px;
}


.excerpt { }

.meta {
    display: block;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    color: #666666;
    padding: 5px;
}

#footer {
    border-top: 2px solid #CCCCCC;
    margin: 10px auto;
    padding-top: 5px;
}

