<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }}
    {% endif %}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" type='text/css' href="/css/font-awesome.min.css" />
  <link rel="stylesheet" type='text/css' href="/css/base.css" media="screen" />
  <link rel="stylesheet" type='text/css' href="/css/pygments.css" />
  <link rel="stylesheet" type='text/css' href="/css/mobile.css" media="only screen and (max-width: 480px)" />
  <link rel="stylesheet" type='text/css' href="/css/mobile.css" media="only screen and (width: 768px)" />
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' />

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
</head>
