<section class="sidebar">
  <!-- <a href="/"> -->
    <!-- <img src="http://bamos.github.io/images/me.jpg" width="75" class="avatar" /> -->
  <!-- </a> -->

  <!-- <section class="name"> -->
  <!--   <a href="/"> -->
  <!--     <span id="fname">Brandon</span> -->
  <!--     <span id="lname">Amos</span> -->
  <!--   </a> -->
  <!-- </section> -->

  <section class="meta">
    <a href="https://github.com/bamos" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://twitter.com/brandondamos" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="/atom.xml"><i class="fa fa-rss"></i></a>
  </section>

  <section class="sections">
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/blog">blog</a></li>
      <li><a href="/cv">cv</a></li>
    </ul>
  </section>
</section>
