---
layout: default
---

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8">
      {{ content }}
    </div>
    <div class="col-xs-2">
      <a href="/images/me-large.jpg"><img src="/images/me.jpg" alt="me"></a>
    </div>
  </div>
</div>
