---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <img src="/images/me.jpg"
        class="index-profile-img"
        alt="Brandon Amos"/>
    <!--
      <div class="intro-text">
        <p>
I am a person in NYC.<br>
I study <b>machine learning</b>,
<b>optimization</b>, <b>reinforcement learning</b>, and <b>control</b>. <br>
I build safe intelligent systems that
understand and interact with our world.
        </p>
      </div>
    </div>
    -->
  </div>
  <div class="row" style="margin-top: 2em;">
    <div class="col-md-10 col-md-offset-1">
{{ content }}
    </div>
  </div>
</div>
