---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 vcenter idxHdr">
      <div style='font-size: 2em; color: #4582ec; font-weight: bold; padding-bottom: 0.3em;'>Brandon Amos</div>
      <div style='font-size: 1.2em;'>
        Research Scientist
      </div>
      <div style='font-size: 1.2em'>
        <a href="https://ai.facebook.com/">Meta Superintelligence Labs</a>
      </div>
      <div style='font-size: 1.2em'>
        <a href="mailto:bda@meta.com">bda@meta.com</a>
      </div>
      <br/>

      <div style="padding: 0.3em; background-color: #4582ec; display: inline-block; border-radius: 4px; font-size: 1.2em;">
        <a href="data/cv.pdf" target='_blank' style='text-decoration: none;'>
          <i style='color: white' class="fa fa-download"></i>
        </a>
        <a href="https://github.com/bamos/cv" target='_blank' style='text-decoration: none;'>
          <i style='color: white' class="fa fa-code-fork"></i>
        </a>
        <a href="data/cv.pdf" target='_blank' style='color: white; text-decoration: none;'>CV</a>
      </div>

      <ul class="list-inline idxIcons" style='font-size: 1.9em; margin-top: 0.5em;'>
        <li>
          <a href="http://github.com/bamos" target="_blank">
            <i class="fa fa-fw fa-github"></i></a>
        </li>
        <li>
          <a href="http://twitter.com/brandondamos" target="_blank">
            <i class="fa fa-fw">ğ•</i></a>
        </li>
        <li>
          <a href="https://bsky.app/profile/bdamos.bsky.social" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 10.8c-1.087-2.114-4.046-6.053-6.798-7.995C2.566.944 1.561 1.266.902 1.565C.139 1.908 0 3.08 0 3.768c0 .69.378 5.65.624 6.479c.815 2.736 3.713 3.66 6.383 3.364q.204-.03.415-.056q-.207.033-.415.056c-3.912.58-7.387 2.005-2.83 7.078c5.013 5.19 6.87-1.113 7.823-4.308c.953 3.195 2.05 9.271 7.733 4.308c4.267-4.308 1.172-6.498-2.74-7.078a9 9 0 0 1-.415-.056q.21.026.415.056c2.67.297 5.568-.628 6.383-3.364c.246-.828.624-5.79.624-6.478c0-.69-.139-1.861-.902-2.206c-.659-.298-1.664-.62-4.3 1.24C16.046 4.748 13.087 8.687 12 10.8"/></svg>
            </a>
        </li>
        <!-- <li>
          <a rel="me" href="https://sigmoid.social/@bamos" target="_blank">
            <i class="fa fa-fw fa-mastodon"></i></a>
        </li> -->
        <li>
          <a href="https://scholar.google.com/citations?user=d8gdZR4AAAAJ" target="_blank">
          <i class="ai ai-google-scholar"></i></a>
        </li>
        <li>
          <a href="http://www.facebook.com/bdamos" target="_blank">
            <i class="fa fa-fw fa-facebook"></i></a>
        </li>
        <li>
          <a href="http://www.linkedin.com/in/bdamos" target="_blank">
            <i class="fa fa-fw fa-linkedin"></i></a>
        </li>
        <li>
          <a href="/atom.xml" target="_blank">
            <i class="fa fa-fw fa-rss"></i></a>
        </li>
      </ul>
    </div>
    <div class="col-md-2 vcenter idxHdr">
        <img src="/images/me.jpg"
            width='300px'
            style="border-radius: 20px; margin: 10px; max-width: none;"
            alt="Me."/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
{{ content }}
    </div>
  </div>
</div>
