---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 vcenter idxHdr">
      <div style='font-size: 2em; color: #4582ec; font-weight: bold; padding-bottom: 0.3em;'>Brandon Amos</div>
      <div style='font-size: 1.2em;'>
        Research Scientist
      </div>
      <div style='font-size: 1.2em'>
        <a href="https://ai.facebook.com/">Meta AI (FAIR)</a>
      </div>
      <div style='font-size: 1.2em'>
        <a href="mailto:bda@meta.com">bda@meta.com</a>
      </div>
      <br/>

      <div style="padding: 0.3em; background-color: #4582ec; display: inline-block; border-radius: 4px; font-size: 1.2em;">
        <a href="data/cv.pdf" target='_blank' style='text-decoration: none;'>
          <i style='color: white' class="fa fa-download"></i>
        </a>
        <a href="https://github.com/bamos/cv" target='_blank' style='text-decoration: none;'>
          <i style='color: white' class="fa fa-code-fork"></i>
        </a>
        <a href="data/cv.pdf" target='_blank' style='color: white; text-decoration: none;'>CV</a>
      </div>

      <ul class="list-inline idxIcons" style='font-size: 1.9em; margin-top: 0.5em;'>
        <li>
          <a href="http://github.com/bamos" target="_blank">
            <i class="fa fa-fw fa-github"></i></a>
        </li>
        <li>
          <a href="http://twitter.com/brandondamos" target="_blank">
            <i class="fa fa-fw">𝕏</i></a>
        </li>
        <!-- <li>
          <a rel="me" href="https://sigmoid.social/@bamos" target="_blank">
            <i class="fa fa-fw fa-mastodon"></i></a>
        </li> -->
        <li>
          <a href="https://scholar.google.com/citations?user=d8gdZR4AAAAJ" target="_blank">
          <i class="ai ai-google-scholar"></i></a>
        </li>
        <li>
          <a href="http://www.facebook.com/bdamos" target="_blank">
            <i class="fa fa-fw fa-facebook"></i></a>
        </li>
        <li>
          <a href="http://www.linkedin.com/in/bdamos" target="_blank">
            <i class="fa fa-fw fa-linkedin"></i></a>
        </li>
        <li>
          <a href="/atom.xml" target="_blank">
            <i class="fa fa-fw fa-rss"></i></a>
        </li>
      </ul>
    </div>
    <div class="col-md-2 vcenter idxHdr">
        <img src="/images/me/2021-wave.gif"
            style="border-radius: 20px; margin: 10px; max-width: none;"
            alt="Me."/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
{{ content }}
    </div>
  </div>
</div>
