<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% include head.html %}
<body>
  {% include sidebar.html %}
  {{ content }}

<script src="/js/sp.js"></script>
<script type="text/javascript">
try {
  var snowplowTracker = Snowplow.getTrackerUrl('derecho.elijah.cs.cmu.edu:8080');
  snowplowTracker.enableLinkTracking();
  snowplowTracker.trackPageView();
} catch (err) {}
</script>

</body>

</html>
